*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.orta {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
}
body {
    background: url(pexels-creative-vix-9754\ \(2\).jpg);
    background-color: rgb(90, 90, 93);
    height: 100;
    width: 100;
    
}
.orta h1 {
    background-color: rgb(34 175, 175, 0.177);
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);  
    
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
   

    
    align-items: center;

}
.social-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px ;
}

.social {
    text-align: center;
    
}

.social ul {
    padding: 0;
    margin: 0;
}

.social ul li {
    display: inline-block;
    margin: 0 10px;
}

.social ul li a img {
    width: 20px; /* Adjust as needed */
    height: 20px;
    filter: grayscale(1,);
    
}
.social ul li a img:hover{
    transform: scale(1.5);
    filter: grayscale(0);
}
.sol {
    display: flex;
    position: fixed;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid white;
    left: 20px;
    height: 500px;
    
}
.sol ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    
    justify-content: center;
   
}
.sol ul li a:hover {
    transform: scale(1.2);
    background-color: black;
}
.sol ul li {
    list-style-type: none;
}

.sağ {
    display: flex;
    position: fixed;
    top: 70px; /* Sayfanın üstünden 70 piksel aşağıda */
    right: 20px; /* Sağ kenara sabitlenmiş */
    width: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    border: 2px solid white;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 50px; /* Liste öğelerini dikey olarak sıralar */
}

.sağ ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sağ ul li {
    list-style-type: none;
    margin-bottom: 15px; /* Liste öğeleri arasında boşluk ekler */
}

.sağ ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.sağ ul li a:hover {
    transform: scale(1.2);
    background-color: black;
}






.paragraf {
    display: block;
    position: fixed;
    left: 500px ;
    top: 70px;
    width: 500px;
    height: 500px;
    
    align-items: center;
    justify-content: center;
    
   
}
.paragraf h1, .paragraf p {
    color: rgb(0, 0, 0);
    text-align: center;
}